.App {
  text-align: center;
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
}

.App-title {
  margin-left: -8%;
}

div.Grid-container {
  margin: 0;
}

.Grid-damage {
  opacity: 0;
  transition: 1s;
}

.Grid-damage.visible {
  opacity: 1;
}
